.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  background-color: $light-grey;
  width: 100%;
  height: 500px;
  border-bottom: 2px solid $white;
  div {
    display: flex;
    flex-direction: column;
  }
  span {
    color: $bright-blue;
    font-size: 3em;
    align-self: center;
  }
  h3 {
    font-family: 'abril_fatfaceregular';
    font-size: 2em;
    align-self: center;
    margin-bottom: 20px;
    color: $bright-blue;
  }
  p {
    color: $bright-blue;
    font-size: 1.3em;
    text-align: justify;
  }
}

.left-skills, .mid-skills {
  margin-right: 20px;
  min-width: 33%;
}
